:root {
  --white: #dfdddd;
  --main-accent-color: #88f581;
  --main-accent-light: #bbf5b8;
  --main-bg-color: #f5a800;
  --secondary-bg-color: #d68f01;
  --black: #2c2a00
}

@font-face {
  font-family: system;
  font-style: normal;
  font-weight: 300;
  src: local(".SFNSText-Light"), local(".HelveticaNeueDeskInterface-Light"), local(".LucidaGrandeUI"), local("Ubuntu Light"), local("Segoe UI Light"), local("Roboto-Light"), local("DroidSans"), local("Tahoma");
}

body { margin: 0; padding: 0; }
body > section { margin: 1rem; }

body {
  font-family: "system";
  background: var(--main-bg-color);
  background: linear-gradient(180deg, var(--secondary-bg-color) 29%, var(--main-bg-color) 74%);
  background-color: var(--main-bg-color);
  color: #2c2a00;
}

body > header, body > footer {
  padding: 1rem;
  color: var(--white);
  background: var(--black);
  display: flex;
  border-bottom: 3px solid #222;
  box-shadow: 0px 0px 5px #222;
  z-index: 1;
}
body > header > nav > a {
  color: var(--main-accent-color);
  text-decoration: none;
}

body > header > h1 { font-size: 1.2rem; }
body > header > h1 > small { font-size: 0.8rem; }

body > header > h1 > small { display: block; }
body > header > img { width: 68px; padding-right: 1.2rem; }

body > div.hero {
  position: relative;
  background: var(--main-accent-light) url(./network.png) no-repeat;
  min-height: 350px;
  z-index: 0;
}
body > div.hero > h2 { padding: 1.2rem 1rem; width: 50%; margin: 0; }

body > section.team > h3 { display: inline; }

body > section > div.features {
  display: flex;
  flex-wrap: wrap;
}
body > section > div.features > div {
  flex-basis: 30%;
}

.customers { display: flex; }
.customers > table > thead > tr > th { background: var(--black); color: var(--white); }
.customers > table > tbody > tr > td { background: var(--white); color: var(--black); }